@import url(assets/projects/estacion-clima/style.css);
@import url(assets/projects/generador-enlaces/style.css);
@import url(assets/projects/gen-contrasena/style.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* myStyles */

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: white !important;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons img {
    height: 30px;
}

img.cross-icon {
    transform: rotate(90deg);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}


section.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather h2{
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
}

.current-weather-card.container {
    padding: 0;
}

#reloj-digital {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

div#fecha-actual {
    font-size: 20px;
    color: white;
}

#hour-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 15px;
    max-width: 370px;
    background: #4e44442e;
    backdrop-filter: blur(12px);
    padding: 20px;
    border-radius: 20px;
}

.hour-item li {
    color: white;
}

.password h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

section.password {
    width: 60%;
}

.links h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.input-group label {
    padding-bottom: 10px;
}

.container {
    background-color: transparent;
        backdrop-filter: blur(0px);
}

/* version movil */
@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}
