@import url(/style.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* myStyles */

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul#linkList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 120px;
    padding: 20px;
    overflow: scroll;
}

.container {
    margin: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.form-group button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.links {
    margin: 20px;
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container h2 {
	font-size: 40px;
	color: white;
	padding-bottom: 10px;
}